HELP.md

# Build
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs and temp
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
desktop.ini

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDEs
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Docker
*.env
docker-compose.override.yml
